body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {white-space: normal;}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {max-width: 350px;}


/*Bootstrab override*/
.navbar {
    
    background-color:#F0592A;
    border-color: #F0592A;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {color: #fff;}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {border-color: #fff;}
.navbar-inverse .navbar-toggle {border-color: #fff;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(203,70,29,0.62);
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar > .container .navbar-brand {font-weight: 700;}


/*Font Lato*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 
{font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;}

/*Create Form Edit*/
.Create-Form .form-group {margin-bottom: 25px;}
.Create-Form .form-control {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    height:50px
}
.Create-Form .btn {
    padding: 7px 24px;
    font-size: 18px;
    border-radius: 9px;
}
.Create-Form .field-validation-error{color:#f00;font-weight:bold;}
/*End Create Form Edit*/

/*Home Page*/
.comming_gigs{
    list-style:none;
}
.comming_gigs > li{
    position:relative;
    margin-bottom:20px;
}
.comming_gigs > li .date{
    background-color:#f00;
    width:60px;
    color:#fff;
    text-align:center;
    border-radius:10px 10px 0 0;

}
.comming_gigs > li .date .month {
    font-weight:bold;
    text-transform:uppercase;
    font-size:15px;
    padding:2px 6px;
    border-bottom:1px solid #808080;
}
.comming_gigs > li .date .day {
    background-color:#fbfbfb;
    color:#808080;
    font-size:20px;
    padding:3px 7px;
}

.comming_gigs > li .details{
    position:absolute;
    top:0;
    left:80px;
}

.comming_gigs > li .details .artist{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}
.comming_gigs > li .details .genre{font-size:15px}
/*End Home Page*/



